<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>EditConference</title>
    <style>
        body{
            background-color:#f2f2f2;
        }
        .table{
            background-color:#ffff;
            box-shadow:0px 2px 2px #aaa;
            margin-top:50px;
        }
    </style>
</head>
<body>
<a href="/login?lang=en" th:text="#{label.en}" >English</a>|<a href="/login?lang=ua" th:text="#{label.ua}"></a>

<form   action="#" th:action="@{/edit}">

    <input type="hidden" th:field="*{conference.conferenceId}">

    <label for="name"  class="text-info" th:text="#{label.name}"></label>
    <input type="text" id="name" name="name" />
    <label for="date"  class="text-info"th:text="#{label.date}"></label>
    <input type="date" id="date" name="date"/>
    <button type="submit" class="btn btn-info btn-md" th:text="#{label.confirm}"></button>
</form>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
