<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <meta charset="UTF-8">
    <title>Speeches</title>
    <style>
        body{
            background-color:#f2f2f2;
        }
        .table{
            background-color:#ffff;
            box-shadow:0px 2px 2px #aaa;
            margin-top:50px;
        }
    </style>
</head>
<body>
<a href="?lang=en" th:text="#{label.en}">English</a>|<a href="?lang=ua" th:text="#{label.ua}"></a>
<section id="tabs" class="project-tab">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
<nav>
    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab"
           role="tab" aria-controls="nav-home" aria-selected="true" th:href="@{/coming}"
           th:text="#{label.coming}"></a>
        <a class="nav-item nav-link" data-toggle="tab"
           role="tab" aria-controls="nav-home" aria-selected="true" th:href="@{/ratingPage}" th:text="#{label.rating}"></a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab"
           role="tab" aria-controls="nav-profile" aria-selected="false" th:href="@{/finished}"
           th:text="#{label.finished}"></a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" role="tab"
           aria-controls="nav-contact" aria-selected="false" th:href="@{/userSpeeches}"
           th:text="#{label.your}"></a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col" th:text="#{label.id}"></th>
                <th scope="col" th:text="#{label.topic}"></th>
                <th scope="col" th:text="#{label.start}"></th>
                <th scope="col" th:text="#{label.end}"></th>

                <th scope="col" th:text="#{label.speaker}"></th>
                <th scope="col" th:text="#{label.registered}"></th>
                <th></th>
                <th></th>
                <th></th>

            </tr>
            </thead>
            <tbody>

            <th:block th:each="speech : ${speeches}">

                <tr>
                    <td th:text="${speech.id}">...</td>
                    <td th:text="${speech.topic}">...</td>
                    <td th:text="${speech.startHour}">...</td>
                    <td th:text="${speech.endHour}">...</td>
                    <td th:text="${speech.speaker.username}">...</td>
                    <td th:text="${speech.visitors.size()}">...</td>
                    <td>    <span th:if="${!userSpeeches.contains(speech)}">

                                <a th:href="@{/reservePlace(speechId=${speech.id})}" th:text="#{label.reserve}"></a>
            </span>

                    </td>
                    <td><a th:href="@{/editSpeechPage(speechId=${speech.id})}" th:text="#{label.edit}"></a></td>
                </tr>
            </th:block>
            </tbody>

        </table>
    </div>
</div>
            </div>
        </div>
    </div>
</section>
</body>
</html>