<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>

<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">date</th>
        <th scope="col">address</th>

    </tr>
    </thead>
    <tbody>

    <th:block th:each="conference : ${conferences}">

        <tr>
            <th scope="row">conference.conference_id</th>
            <td th:text="${conference.name}">...</td>
            <td th:text="${conference.date}">...</td>
            <td colspan="2" th:text="${conference.location.address}">...</td>

            <td>
                <a th:href="@{/speeches(conferenceId=${conference.conferenceId})}">speeches</a>
            </td>
        </tr>
    </th:block>
    </tbody>

</table>
<form action="/page" th:action="@{/page}"  method="get">
    <div class="form-group">
        <p th:text="${pageNumber}"></p>
        <input type="hidden" name="template" id="template" value="admin/conferences">
        <input type="text"id = "page"  name="page" placeholder="page">
    </div>
    <button type="submit">page</button>
</form>
</body>

</html>

