<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>EditConference</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <style>
        body {
            background-color: #f2f2f2;
        }

        .table {
            background-color: #ffff;
            box-shadow: 0px 2px 2px #aaa;
            margin-top: 50px;
        }
    </style>
</head>
<body>

<form action="#" th:action="@{/edit}">

    <input type="hidden" th:field="*{conference.conferenceId}">

    <label for="name">name</label>
    <input type="text" id="name" name="name" placeholder="name"/>
    <label for="date">date</label>
    <input type="date" id="date" name="date" placeholder="date"/>
    <input type="submit" value="edit">
</form>

</body>
</html>