<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <meta charset="UTF-8">
    <title>Speeches</title>
</head>
<body>

<p th:text="#{label.language}"></p>
<a href="?lang=en" th:text="#{label.en}" >English</a>|<a href="?lang=ua" th:text="#{label.ua}"></a>

<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col"  th:text="#{label.id}"></th>
        <th scope="col"  th:text="#{label.topic}"></th>
        <th scope="col" th:text="#{label.start}"></th>
        <th scope="col" th:text="#{label.end}"></th>

        <th scope="col" th:text="#{label.speaker}"></th>
        <th scope="col" th:text="#{label.registered}"></th>
        <th> </th>
        <th></th>
    </tr>
    </thead>
    <tbody>

    <th:block th:each="speech : ${speeches}">

        <tr>
            <td th:text="${speech.id}">...</td>
            <td th:text="${speech.topic}">...</td>
            <td  th:text="${speech.startHour}">...</td>
            <td th:text="${speech.endHour}">...</td>
            <td th:text="${speech.speaker.username}">...</td>
            <td th:text="${speech.visitors.size()}">...</td>
            <td>    <span th:if="${!userSpeeches.contains(speech)}">

                                <a th:href="@{/reservePlace(speechId=${speech.id})}" th:text="#{label.reserve}"></a>
            </span>

            </td>
            <td> <a th:href="@{/editSpeechPage(speechId=${speech.id})}" th:text="#{label.edit}" ></a></td>
        </tr>
    </th:block>
    </tbody>

</table>
</body>
</html>